.counter-icon {
  position: relative;
  width: 31px;

  &__icon {
    position: absolute;
    left: 3px;
    height: 19px;
  }

  &__counter {
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
    margin-top: 6px;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
    text-align: center;
    background-color: $color-text-label;
    border-radius: 9px;
  }
}
